:root{
    /* =========== Color Themes =========== */
    --black: #1E1E1E;
    --yellow: #FDBF48;
    --dime-white: #FEFEFE;

     /* =========== Project Color Definition =========== */

     --primary-background: var(--black);
     --primary-text: var(--dime-white);
}
