:root{
    /* =========== Color Themes =========== */
    // --primary-color
    --black: #1E1E1E;
    --yellow: #FDBF48;
    --dime-white: #FEFEFE;

    /* =========== Project Color Definition =========== */

    --primary-background: var(--black);
    --primary-text: var(--dime-white);

    /* =========== Link Color Definition =========== */
    --welcome-header-bg-color: #010314;
    --link-color: rgba(255, 255, 255, 0.5);
    --link-hover-color: rgba(255, 255, 255, 1);
    --link-active-color: rgba(255, 255, 255, 1);

	/* =========== Button Color Definition =========== */
	--btn-welcome-bg-color: #ffffff;
	--btn-welcome-color: #0e1014;
	--btn-welcome-shadow-color: rgba(0, 0, 0, 0.1);
	--btn-welcome-hover-bg-color: #3f71f6;
	--btn-welcome-hover-color: #ffffff;
	--btn-welcome-hover-border-color: #3f71f6;
	--btn-welcome-hover-shadow-color: rgba(63, 113, 246, 0.3);
	--btn-welcome-active-bg-color: #2a53b5;
	--btn-welcome-active-shadow-color: rgba(0, 0, 0, 0.2);
	--btn-welcome-focus-color: #ffffff;
	--btn-welcome-focus-shadow-color: rgba(63, 113, 246, 0.5);
}
