<header class="welcome-header">
    <a href="/" class="welcome-header-logo">
        <span class="logo primary"></span>
    </a>

    <nav class="welcome-nav">
		<ul class="welcome-list">
			<li class="welcome-list-item active">
				<a href="#" class="welcome-list-link">Home</a>
			</li>
			<li class="welcome-list-item ">
				<a href="#" class="welcome-list-link">Mission</a>
			</li>
			<li class="welcome-list-item ">
				<a href="#" class="welcome-list-link">IPO&ICO</a>
			</li>
			<li class="welcome-list-item ">
				<a href="#" class="welcome-list-link">How It Works</a>
			</li>
			<li class="welcome-list-item ">
				<a href="#" class="welcome-list-link">Quotes</a>
			</li>
			<li class="welcome-list-item ">
				<a href="#" class="welcome-list-link">History</a>
			</li>
		</ul>
		<!-- <button type="button" class="btn secondary">Get Started</button> -->
	</nav>

</header>
