<div class="auth-container">
    <div class="top-container">
        <img src="imgs/logo.gif" alt="">
    </div>
    <div class="bottom-container">
        <h2>To interact with unlimited possibilities, you must create a profile.</h2>
        <p>Iteract with people with the same interest like you.</p>
        <!-- <button class="rounded-button danger">Create a Profile</button>
        <button class="rounded-button danger">Sign In</button> -->
        <button roundedButton color="primary"> Create a Profile</button>
        <button>Sign In</button>
    </div>
</div>
