@function rem($pixels, $context: 16) {
    @return #{calc($pixels/$context)}rem;
}

$colorMap: (
    primary: (
        text: #fff,
        base: #cc3656,
        light: #d84f6d,
        dark: #9b344a
    ),
    secondary: (
        text: #fff,
        base: #12721f,
        light: #239232,
        dark: #13521b
    ),
);

@mixin color-modifier() {
    @each $color-group, $ruleset in $colorMap{
      &--#{$color-group} {
        color: map-get($ruleset, text);
        background-color: map-get($ruleset, base);
        border-color: map-get($ruleset, dark);
      }
    }
}

.rounded-button {
    border: none;
    border-radius: rem(30);
    padding: rem(16) rem(30);
    margin-top: rem(4);
    margin-bottom: rem(4);
    margin-left: rem(48);
    margin-right: rem(48);
    height: rem(35);
    
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: rem(14);
    line-height: rem(15);

    display: inline-flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        display: flex;
        align-items: center;

        &_icon-left {
            flex-direction: row-reverse;

            img {
                margin: 0 rem(5) 0 0;
            }
        }

        img {
            width: rem(24);
            height: rem(24);
            margin-left: rem(5);
        }
    }

    &:disabled {
        cursor: not-allowed;
    }

    &--outline {
        background: transparent;
        color: #999;
        border: 1px solid #999;
    }

    @include color-modifier;
}